/* In case of 'Unknown at rule @tailwind' error, install the following extension:
 * https://marketplace.visualstudio.com/items?itemName=bradlc.vscode-tailwindcss
 * Tailwind CSS IntelliSense
 * And add the following to your vscode settings.json file:
 * "tailwindCSS.includeLanguages": {
 *   "plaintext": "html"
 * }
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* For rgba(6, 186, 99, <alpha-value>) */
    --color-active: 6, 186, 99;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
